@keyframes transY {
  100% { transform: translateY(0); opacity: 1;}
}
@keyframes op {
  100% { opacity: 1;}
}
// @keyframes transX {
//   100% { transform: translateX(0); opacity: 1;}
// }

.anima-small-slide{
  animation: transY 1s 2s ease forwards;
  transform: translateY(350px);
  opacity: 1;
 // visibility:
}


.testt{

  transform: translateY(350px);

}