//8.333% 16.667% 25% 33.333% 41.667% 50% 58.333% 66.667% 75% 83.333% 91.667% 100%
//.hline() {width: 96em; max-width: 100%; min-width: 15em; margin: 0 auto; position:relative;}

@total-columns: 12;


.fix() {
&:before,&:after {content:""; display:table;}
&:after {clear:both;}
}

.em(@px, @new-font-size:@px-font-size) {
  font-size: (@px / @new-font-size)*1em;
}

// margin padding width heigh   em       float
// if px max 10px!!!
//==========================================================
.m(){margin:0;}
.m-a(){margin:0 auto;}
.m4(@px,@px2,@px3,@px4, @new-font-size:@px-font-size){
margin: (@px / @new-font-size) * 1em (@px2 / @new-font-size) * 1em (@px3 / @new-font-size) * 1em (@px4 / @new-font-size) * 1em;
}
.m2(@px,@px2, @new-font-size:@px-font-size){
margin: (@px / @new-font-size) * 1em (@px2 / @new-font-size) * 1em;
}
.m-t(@px, @new-font-size:@px-font-size){
margin-top: (@px / @new-font-size) * 1em;
}
.m-r(@px, @new-font-size:@px-font-size){
margin-right: (@px / @new-font-size) * 1em;
}
.m-b(@px, @new-font-size:@px-font-size){
margin-bottom: (@px / @new-font-size) * 1em;
}
.m-l(@px, @new-font-size:@px-font-size){
margin-left: (@px / @new-font-size)*1em;
}
.p4(@px,@px2,@px3,@px4, @new-font-size:@px-font-size){
padding: (@px / @new-font-size) * 1em (@px2 / @new-font-size) * 1em (@px3 / @new-font-size) * 1em (@px4 / @new-font-size) * 1em;
}
.p2(@px,@px2, @new-font-size:@px-font-size){
padding: (@px / @new-font-size) * 1em (@px2 / @new-font-size) * 1em;
}
.p-t(@px, @new-font-size:@px-font-size){
padding-top: (@px / @new-font-size) * 1em;
}
.p-r(@px, @new-font-size:@px-font-size){
padding-right: (@px / @new-font-size) * 1em;
}
.p-b(@px, @new-font-size:@px-font-size){
padding-bottom: (@px / @new-font-size) * 1em;
}
.p-l(@px, @new-font-size:@px-font-size){
margin-left: (@px / @new-font-size)*1em;
}
.w(@px, @new-font-size:@px-font-size){
width: (@px / @new-font-size) * 1em;
}
.h(@px, @new-font-size:@px-font-size){
height: (@px / @new-font-size) * 1em;
}
.linef (@number) {
width: (100%/@total-columns)*@number;
float: left;
}
.line (@number) {
width: (100%/@total-columns)*@number;
}
.line-c(@number) {
width: (100%/@total-columns)*@number;
margin:0 auto;
}
.push(@number) {
margin-left: (100%/@total-columns)*@number;
}
.push-r(@number) {
margin-right: (100%/@total-columns)*@number;
}
.poz(@number) {
left: (100%/@total-columns)*@number;
}
.poz-r(@number) {
right: (100%/@total-columns)*@number;
}

// ========================================
@import "normalize";

// ==============================================
@font-face {
    font-family: 'nexa_lightregular';
    src: url('fonts/Nexa_Free_Light-webfont.eot');
    src: url('fonts/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Nexa_Free_Light-webfont.woff') format('woff'),
         url('fonts/Nexa_Free_Light-webfont.ttf') format('truetype'),
         url('fonts/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('fonts/Nexa_Free_Bold-webfont.eot');
    src: url('fonts/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Nexa_Free_Bold-webfont.woff') format('woff'),
         url('fonts/Nexa_Free_Bold-webfont.ttf') format('truetype'),
         url('fonts/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// ==============================================



*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
//* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {display: block;}
::-moz-selection {background: #555; color: #ddd; text-shadow: none;}
::selection {background: #555; color: #ddd; text-shadow: none;}
html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // overflow:hidden;
  background-color: transparent;
  //color: #546c7d;
  font-size: 62.5%;
  font-family: sans-serif; //serif
  // height: 100%;
}
body {
  //position:relative;
  //z-index:100;
  //margin: 0 auto;
  // margin:0;
  // max-width: 100%;
  // min-width: 1em;
    // width: 120em;
    // font-weight: normal;
    // font-style:normal;
    //font-variant:normal;
    background: #000;
    // height: 100%;

}
//.hline() {width: 96em; max-width: 100%; min-width: 15em; margin: 0 auto; position:relative;}
// #wrap{
      // font-family: "open sans", Helvetica, Arial, sans-serif;
    // line-height: 1.5;
// }


.wrapper{
    width: 120em;
    max-width: 100%;
    min-width: 30em;
    margin: 0 auto;
    position:relative;
    // background: #000;
    font-family: nexa_lightregular, Arial, sans-serif;
    color: #fff;
    text-align: center;
    // height: 100%;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; line-height: 1.8; color:#fff;}
h1 {font-size: 2.2em;}
h2 {font-size: 2.0em;}
h3 {font-size: 1.8em;}
h4 {font-size: 1.6em;}
h5 {font-size: 1.4em;}
h6 {font-size: 1.1em;}
p {
  line-height: 1.6;
  font-size: 1.4em;
  color:#fff;
}
span {
  display: block;
}
a{
  color: #fff;
  text-decoration: none;
}
.slide-big{
  height: 78em;
}
.slide-small{
  height: 42em;
}
.header{
height: 5em;
  // text-align: left;
  & a{display: inline-block;}
}
.logo{
  .linef(4);
  text-align: left;
  padding: 30px
}
.main-nav{
.linef(5);
.push(3);
padding: 30px 0;
}
.main-nav__item{
 font-size: 14px;
padding: 6px 10px;
margin-left: 30px;

}
.main-nav__item.active{border: 2px solid #dd1036; border-radius: 12px;}
.main-nav__item:hover{
  // border: 1px solid #dd1036;
  border-radius: 12px;
  background: #dd1036;}



.slide-big.top{
  background: url(images/slide-top-BG.jpg);
  // background-size: contain;
  // background-repeat: no-repeat;
}
.slide-big.black{
  background: #05080a;
}
.slide-big.foto-one{
  background: url(images/foto-one.jpg);
}
.slide-big.foto-two{
  background: url(images/foto-two.jpg);
}
.slide-big.foto-three{
  background: url(images/foto-three.jpg);
}
.slide-small.red{
  background: #cb0e32;
}
.slide-small.yellow{
  background: #bea67a;
}
.slide-small.blue{
  background: #233860;

}
.slide-long{
  height: 132em;
  background: #121a2c;
}
.footer{
  height: 10em;
  background: #070c17;
  padding: 34px 0;
}

.text{
  .line-c(8);
  // color: #fff;
  padding: 180px 0; //temp
  // text-align: center;
}

.text-one{
    // font-family: nexa_boldregular, Arial, sans-serif;
  // display: block;
  font-size: 78px;
}
.text-two{
  // display: block;
font-family: nexa_boldregular, Arial, sans-serif;
font-size: 70px;
}
.text-tree{
  color: #00abf0;
  // display: block;

  font-size: 40px;
}
.text-four{
  // color: #00abf0;
  padding-top: 20px;
  text-transform: uppercase;
  letter-spacing: 7px;

  font-size: 18px;
  // display: block;

}
.scrol{
  .line-c(2);
  font-size: 12px;
  height: 30px;
  // margin-bottom: 20px;
  padding-bottom: 25px;
  // position: relative;
  // display: block;
}
.scrol-icon{
  .line-c(2);
}


.slide-small__text:nth-child(2){
font-size: 80px;
font-family: nexa_boldregular, Arial, sans-serif;
  .line-c(8);
  padding-top: 50px;
  padding-bottom: 40px;

}
.slide-small__text:nth-child(3){
font-size: 20px;
  .line-c(8);
  padding-bottom: 30px;

}
.foto__text{
  .line-c(6);
  padding-top: 670px;
  font-size: 34px;
}
.black__text{
  .line-c(6);
padding: 340px 0;
 font-size: 60px;
}
.slide-small__link{
  font-family: nexa_boldregular, Arial, sans-serif;
  .line-c(1);
  // padding-left: 10px;
  display: block;
  font-size: 18px;
  padding: 11px 0;
  position: relative;
  border: 3px solid #fff;
  border-radius: 28px;
}
.slide-small__link span{
  padding-left: 14px;
}
.slide-small__link:before {
  content: '\2023';
  position: absolute;
  top:7px;
  left: 17px;
  line-height: 1;
  font-size: 30px;
}

.slide-long__text{
  font-family: nexa_boldregular, Arial, sans-serif;
  font-size: 70px;
  .line-c(8);
  padding-top: 200px;
}
.slide-long__link{
font-size: 18px;
// text-decoration: underline;
}
.slide-long__link:nth-child(2){
  .line-c(2);
  padding:6px 0;
  margin: 40px auto;
  display: block;
// font-size: 18px;
background: #18a840;
border-radius: 18px;
  font-family: nexa_boldregular, Arial, sans-serif;
  // text-decoration: none;
}
.slide-long__link:nth-child(3){
  text-decoration: underline;
  display: block;
  .line-c(2);
  color: #ff0e3c;
}
.slide-long__btn{
  font-family: nexa_boldregular, Arial, sans-serif;
font-size: 18px;
}

.footer__text{
  padding: 5px 0 ;
  font-size: 18px;
  .linef(4);
}
.footer__text:nth-child(2){
  font-size: 18px;
  .linef(2);
  .push(3);
  text-align: right;
}
.footer__icons{
 display: inline-block;
margin-right: 40px;
}
.footer__social-icon{
  display: inline-block;
  padding: 0 4px;
}


.slide-long__btn{
  font-family: nexa_boldregular, Arial, sans-serif;
font-size: 18px;
background: #d71036;
border: none;
box-shadow: none;
// height: 60px;
// margin-top: 20px;
padding: 13px 0;
border-radius: 24px;
display: block;

.line-c(3);
margin-top: 50px;
color: #fff;
}

.slide-long__form{

}

.slide-long__input{
  display: block;
  .line-c(6);
  padding: 10px 0;
  margin:  20px auto;
  background: #11192b;
  border: none;
  font-size: 18px;
  border-bottom: 1px solid #d71036;
  box-shadow: none;

}


