//8.333% 16.667% 25% 33.333% 41.667% 50% 58.333% 66.667% 75% 83.333% 91.667% 100%
//.hline() {width: 96em; max-width: 100%; min-width: 15em; margin: 0 auto; position:relative;}

@total-columns: 12;


.fix() {
&:before,&:after {content:""; display:table;}
&:after {clear:both;}
}

.em(@px, @new-font-size:@px-font-size) {
  font-size: (@px / @new-font-size)*1em;
}

// margin padding width heigh   em       float
// if px max 10px!!!
//==========================================================
.m(){margin:0;}
.m-a(){margin:0 auto;}
.m4(@px,@px2,@px3,@px4, @new-font-size:@px-font-size){
margin: (@px / @new-font-size) * 1em (@px2 / @new-font-size) * 1em (@px3 / @new-font-size) * 1em (@px4 / @new-font-size) * 1em;
}
.m2(@px,@px2, @new-font-size:@px-font-size){
margin: (@px / @new-font-size) * 1em (@px2 / @new-font-size) * 1em;
}
.m-t(@px, @new-font-size:@px-font-size){
margin-top: (@px / @new-font-size) * 1em;
}
.m-r(@px, @new-font-size:@px-font-size){
margin-right: (@px / @new-font-size) * 1em;
}
.m-b(@px, @new-font-size:@px-font-size){
margin-bottom: (@px / @new-font-size) * 1em;
}
.m-l(@px, @new-font-size:@px-font-size){
margin-left: (@px / @new-font-size)*1em;
}
.p4(@px,@px2,@px3,@px4, @new-font-size:@px-font-size){
padding: (@px / @new-font-size) * 1em (@px2 / @new-font-size) * 1em (@px3 / @new-font-size) * 1em (@px4 / @new-font-size) * 1em;
}
.p2(@px,@px2, @new-font-size:@px-font-size){
padding: (@px / @new-font-size) * 1em (@px2 / @new-font-size) * 1em;
}
.p-t(@px, @new-font-size:@px-font-size){
padding-top: (@px / @new-font-size) * 1em;
}
.p-r(@px, @new-font-size:@px-font-size){
padding-right: (@px / @new-font-size) * 1em;
}
.p-b(@px, @new-font-size:@px-font-size){
padding-bottom: (@px / @new-font-size) * 1em;
}
.p-l(@px, @new-font-size:@px-font-size){
margin-left: (@px / @new-font-size)*1em;
}
.w(@px, @new-font-size:@px-font-size){
width: (@px / @new-font-size) * 1em;
}
.h(@px, @new-font-size:@px-font-size){
height: (@px / @new-font-size) * 1em;
}
.linef (@number) {
width: (100%/@total-columns)*@number;
float: left;
}
.line (@number) {
width: (100%/@total-columns)*@number;
}
.line-c(@number) {
width: (100%/@total-columns)*@number;
margin:0 auto;
}
.push(@number) {
margin-left: (100%/@total-columns)*@number;
}
.push-r(@number) {
margin-right: (100%/@total-columns)*@number;
}
.poz(@number) {
left: (100%/@total-columns)*@number;
}
.poz-r(@number) {
right: (100%/@total-columns)*@number;
}

// ========================================
@import "normalize";


// ==============================================
@font-face {
    font-family: 'nexa_lightregular';
    src: url('fonts/Nexa_Free_Light-webfont.eot');
    src: url('fonts/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Nexa_Free_Light-webfont.woff') format('woff'),
         url('fonts/Nexa_Free_Light-webfont.ttf') format('truetype'),
         url('fonts/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('fonts/Nexa_Free_Bold-webfont.eot');
    src: url('fonts/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Nexa_Free_Bold-webfont.woff') format('woff'),
         url('fonts/Nexa_Free_Bold-webfont.ttf') format('truetype'),
         url('fonts/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// ==============================================



*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
//* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {display: block;}
::-moz-selection {background: #555; color: #ddd; text-shadow: none;}
::selection {background: #555; color: #ddd; text-shadow: none;}
html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // overflow:hidden;
  background-color: transparent;
  //color: #546c7d;
  font-size: 62.5%;
  font-family: sans-serif; //serif
  // height: 100%;
}
body {
  //position:relative;
  //z-index:100;
  //margin: 0 auto;
  // margin:0;
  // max-width: 100%;
  // min-width: 1em;
    // width: 120em;
    // font-weight: normal;
    // font-style:normal;
    //font-variant:normal;
    background: #000;
    // height: 100%;

}
//.hline() {width: 96em; max-width: 100%; min-width: 15em; margin: 0 auto; position:relative;}
// #wrap{
      // font-family: "open sans", Helvetica, Arial, sans-serif;
    // line-height: 1.5;
// }


.wrapper{
    // width: 120em;
    width: 100%;
    max-width: 100%;
    min-width: 30em;
    margin: 0 auto;
    position:relative;
    // background: #000;
    font-family: nexa_lightregular, Arial, sans-serif;
    color: #fff;
    text-align: center;
    // height: 100%;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; line-height: 1.8; color:#fff;}
h1 {font-size: 2.2em;}
h2 {font-size: 2.0em;}
h3 {font-size: 1.8em;}
h4 {font-size: 1.6em;}
h5 {font-size: 1.4em;}
h6 {font-size: 1.1em;}
p {
  line-height: 1.6;
  font-size: 1.4em;
  color:#fff;
}
span {
  display: block;
}
a{
  color: #fff;
  text-decoration: none;
}

@import 'nav';
@import 'pagination';
@import 'slides';
@import 'footer';
@import 'login';
@import 'table';
@import 'contact';





