@media (max-width: 1010px) {
    html{
        font-size: 55%;
    }
}
@media (max-width: 920px) {
    html{
        font-size: 50%;
    }
}
@media (max-width: 810px) {
    html{
        font-size: 45%;
    }
}
@media (max-width: 750px) {
    html{
        font-size: 40%;
    }
}
@media (max-width: 650px) {
    html{
        font-size: 35%;
    }
    .pagination{
        display: none;
    }
    .header{
        display: none;

    }
}
@media (max-width: 570px) {
    html{
        font-size: 30%;
    }
    .foto__text {
top: -140px;
font-size: 18px;
// font-weight: 700;
}
.slide-small__text:nth-child(3) {
font-size: 14px;

}
.slide-small__text:nth-child(2) {
font-size: 7rem;
line-height: 1.1;
}
.anima-small-slide{
  transform: translateY(300px);
}
}
@media (max-width: 490px) {
    html{
        font-size: 25%;
    }
}
