.pagination{
    // display: fixed;
    position: fixed;
    // background-color: red;
    top: 44%;
    // width: 100px;
    // height: 100px;
   right: 0;
   z-index: 10;
   // float: right;
    // display: none;
}
.pagination li{
    list-style-type: none;
}
.pagination__link{
    width: 14px;
    height: 14px;
    background-color: #fff;
    display: block;
    border-radius: 7px;
    margin: 0 40px 14px 0;
}
.pagination.hide {
    display: none;
}