.pagination{
    // display: fixed;
    position: fixed;
    // background-color: red;
    top: 44%;
    // width: 100px;
    // height: 100px;
   right: 0;
   z-index: 10;
   // float: right;
    // display: none;
}
.pagination li{
    list-style-type: none;
}
.pagination__link{
    width: 15px;
    height: 15px;
    background-color: #ccc;
    display: block;
    border-radius: 8px;
    margin: 0 40px 18px 0;
    box-shadow: 0 0 4px #222;
    transition: .4s;
    &:hover{
        background-color: #aaa;
    }
}
// .pagination ul:nth-child(1){
    // background-color: red;
// }
.pagination.hide {
    display: none;
}