.slide-height{
  // height: 100rem;
  min-height: 50rem;
  overflow: hidden;
  position: relative;
}
// ==============ONE==========
.slide-one{
    background: url(images/slide-top-BG.jpg);
    background-repeat: no-repeat;
  // background-size: contain;
    background-size: cover;
  // background-size: contain;
  // background-repeat: no-repeat;
  position: relative;
}
.text{
  .line-c(8);
  // color: #fff;
  padding-top: 9%; //temp
  // text-align: center;
}
.text-art{
  // font-size: 78px;
  animation: transY 2s .4s ease forwards;
transform: translateY(90px);
 opacity: 0;
}


.text-two{
font-family: nexa_boldregular, Arial, sans-serif;
font-size: 70px;
animation: transY 2s .8s ease forwards;
transform: translateY(90px);
opacity: 0;





}
.text-tree{
  color: #00abf0;
  font-size: 40px;
animation: transY 2s 1.2s ease forwards;
transform: translateY(90px);
opacity: 0;

}
.text-four{
  padding-top: 20px;
  text-transform: uppercase;
  letter-spacing: 7px;

  font-size: 18px;
  animation: transY 2s 1.7s ease forwards;
transform: translateY(90px);
opacity: 0;
}
.scrol-icon{
  .line-c(1);
  font-size: 12px;
  position: absolute;
  left: 48%;
  bottom: 20px;
  cursor: pointer;
  animation: transY 4s 2s ease forwards;
transform: translateY(-50px);
opacity: 0;
  .scrol-icon__text{
    padding-bottom: 20px;
  }
}


//============TWO======================
.slide-two{
    background-color: #05080a;
}
.black__text{
  .line-c(6);
padding: 340px 0;
 font-size: 60px;
}
//===============THREE========================
.slide-three{
    background: url(images/foto-one1.jpg);
    background-repeat: no-repeat;
    // background-size: contain;
    background-size: cover;

}

// .slide-small.red{
//     background: url(images/red.jpg);
// }
.slide-small-box.red{
    background: url(images/red.jpg);
    height: 100%;
}

// =====general===
.texture{
    background: url(images/texture.png);
    // width: 100%;
    height: 100%;
}
.slide-small-box{
  // transform: translateY(300px);
 // opacity: 0;
 // animation: transY 4s 2s ease forwards;
 height: 100%;
}
.slide-small{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
  // animation: transY 4s 2s ease forwards;
// transform: translateY(300px);
 // opacity: 0;


    &:after{
      content: '';
      position: absolute;
      display: block;
      // width: 50%;
      top: -30px;
      // bottom: -300px;
      left: 0;
      height: 30px;
      // background: #555;
      background: transparent;
      // border: 30px solid #333;
      border-left: 30px solid #333;
      border-right: 30px solid transparent;
      border-top: 30px solid transparent;
      border-bottom: 30px solid #333;
    }
}
.slide-small__text:nth-child(1){
    font-size: 80px;
    font-family: nexa_boldregular, Arial, sans-serif;
    .line-c(8);
    padding-top: 80px;
    padding-bottom: 20px;

}
.slide-small__text:nth-child(2){
    font-size: 20px;
    .line-c(8);
    padding-bottom: 20px;

}
.foto__text{
    position: absolute;
    width: 100%;
    // .line-c(6);
    // display: block;
    top: -90px;
    // left: 20%;
    text-shadow: 1px 1px 0 #222;
    // padding-top: 670px;
    font-size: 34px;
transform: translateY(300px);
  // animation: transY 4s 2s ease forwards;
 opacity: 1 !important;
 // visibility: visible !important;
}
.slide-small__link{
    font-family: nexa_boldregular, Arial, sans-serif;
    // .line-c(1);
    width: 110px;
    margin: 0 auto;
    display: block;
    font-size: 18px;
    padding: 11px 0;
    position: relative;
    border: 3px solid #fff;
    border-radius: 28px;
    margin-bottom: 30px;
}
.slide-small__link span{
  padding-left: 14px;
}
.slide-small__link:before {
    content: '\2023';
    position: absolute;
    top:7px;
    left: 17px;
    line-height: 1;
    font-size: 30px;
}

//=====FOUR=================================
.slide-four{
    background: url(images/foto-two.jpg);
    background-repeat: no-repeat;
  // background-size: contain;
  background-size: cover;
}
// .slide-small.yellow{
//   background: url(images/yellow.jpg);
// }
.slide-small-box.yellow{
  background: url(images/yellow.jpg);
}

//================FIVE=========================
.slide-five{
    background: url(images/foto-three.jpg);
    background-repeat: no-repeat;
  // background-size: contain;
  background-size: cover;
}
.slide-small.blue{
  background: url(images/blue.jpg);
}
.slide-small-box.blue{
  background: url(images/blue.jpg);
}



//=======================SIX=============
.slide-six{
  background: #121a2c;
  // margin-bottom: 7rem;
  height: 225rem;
}








// .slide-long{
//   // margin-bottom: 7rem;

// }










.slide-long__text{
  font-family: nexa_boldregular, Arial, sans-serif;
  font-size: 50px;
  .line-c(6);
  padding-top: 90px;
      // opacity: 0;
  // visibility: hidden;
  // transition: .7s;
}
.slide-long__link{
font-size: 18px;
span{
  display: inline;
}
// text-decoration: underline;
}
.slide-long__link:nth-child(2){
  .line-c(2);
  margin-top: 30px;
  padding:8px 0;
  // margin: 40px auto;
  display: block;
// font-size: 18px;
background: #18a840;
border-radius: 20px;
  font-family: nexa_boldregular, Arial, sans-serif;
  // text-decoration: none;
}
.slide-long__link:nth-child(3){
  padding-right: 10px;
  padding-top: 40px;
  text-decoration: underline;
  display:inline-block;
  // .line-c(2);
  color: #00abf0;
}
.slide-long__link:nth-child(4){
  text-decoration: underline;
  display: inline-block;
  // .line-c(2);
  color: #ff0e3c;
}
.slide-long__btn{
  font-family: nexa_boldregular, Arial, sans-serif;
font-size: 18px;
}




.slide-long__btn{
  font-family: nexa_boldregular, Arial, sans-serif;
font-size: 18px;
background: #d71036;
border: none;
box-shadow: none;
// height: 60px;
// margin-top: 20px;
padding: 13px 0;
border-radius: 24px;
display: block;

.line-c(3);
margin-top: 30px;
color: #fff;
}


// .bbb{
//   // display: none;
// }

.slide-long-box{
  // padding-top: 10%;

}