.slide-height{
  // height: 100rem;
  min-height: 70rem;
  overflow: auto;
  position: relative;
}
// ==============ONE==========
.slide-one{
    background: url(images/slide-top-BG.jpg);
    background-repeat: no-repeat;
  // background-size: contain;
    background-size: cover;
  // background-size: contain;
  // background-repeat: no-repeat;
  position: relative;
}
.text{
  .line-c(8);
  // color: #fff;
  padding-top: 9%; //temp
  // text-align: center;
}
.text-one{
  font-size: 78px;
}
.text-two{
font-family: nexa_boldregular, Arial, sans-serif;
font-size: 70px;
}
.text-tree{
  color: #00abf0;
  font-size: 40px;
}
.text-four{
  padding-top: 20px;
  text-transform: uppercase;
  letter-spacing: 7px;

  font-size: 18px;
}
.scrol-icon{
  .line-c(1);
  font-size: 12px;
  position: absolute;
  left: 48%;
  bottom: 20px;
  cursor: pointer;
  .scrol-icon__text{
    padding-bottom: 20px;
  }
}


//============TWO======================
.slide-two{
    background-color: #05080a;
}
.black__text{
  .line-c(6);
padding: 340px 0;
 font-size: 60px;
}
//===============THREE========================
.slide-three{
    background: url(images/foto-one1.jpg);
    background-repeat: no-repeat;
    // background-size: contain;
    background-size: cover;

}

.slide-small.red{
    background: url(images/red.jpg);
}

// =====general===
.texture{
    background: url(images/texture.png);
}
.slide-small{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}
.slide-small__text:nth-child(2){
    font-size: 80px;
    font-family: nexa_boldregular, Arial, sans-serif;
    .line-c(8);
    padding-top: 70px;
    padding-bottom: 40px;

}
.slide-small__text:nth-child(3){
    font-size: 20px;
    .line-c(8);
    padding-bottom: 30px;

}
.foto__text{
    position: absolute;
    width: 100%;
    // .line-c(6);
    // display: block;
    top: -90px;
    // left: 20%;
    text-shadow: 1px 1px 0 #222;
    // padding-top: 670px;
    font-size: 34px;
}
.slide-small__link{
    font-family: nexa_boldregular, Arial, sans-serif;
    .line-c(1);
    display: block;
    font-size: 18px;
    padding: 11px 0;
    position: relative;
    border: 3px solid #fff;
    border-radius: 28px;
    margin-bottom: 50px;
}
.slide-small__link span{
  padding-left: 14px;
}
.slide-small__link:before {
    content: '\2023';
    position: absolute;
    top:7px;
    left: 17px;
    line-height: 1;
    font-size: 30px;
}

//=====FOUR=================================
.slide-four{
    background: url(images/foto-two.jpg);
    background-repeat: no-repeat;
  // background-size: contain;
  background-size: cover;
}
.slide-small.yellow{
  background: url(images/yellow.jpg);
}

//================FIVE=========================
.slide-five{
    background: url(images/foto-three.jpg);
    background-repeat: no-repeat;
  // background-size: contain;
  background-size: cover;
}
.slide-small.blue{
  background: url(images/blue.jpg);
}



//=======================SIX=============
.slide-six{
  background: #121a2c;
  // margin-bottom: 7rem;
  height: 225rem;
}








// .slide-long{
//   // margin-bottom: 7rem;

// }










.slide-long__text{
  font-family: nexa_boldregular, Arial, sans-serif;
  font-size: 70px;
  .line-c(6);
  padding-top: 190px;
}
.slide-long__link{
font-size: 18px;
span{
  display: inline;
}
// text-decoration: underline;
}
.slide-long__link:nth-child(2){
  .line-c(2);
  margin-top: 30px;
  padding:8px 0;
  // margin: 40px auto;
  display: block;
// font-size: 18px;
background: #18a840;
border-radius: 20px;
  font-family: nexa_boldregular, Arial, sans-serif;
  // text-decoration: none;
}
.slide-long__link:nth-child(3){
  padding-right: 10px;
  padding-top: 50px;
  text-decoration: underline;
  display:inline-block;
  // .line-c(2);
  color: #00abf0;
}
.slide-long__link:nth-child(4){
  text-decoration: underline;
  display: inline-block;
  // .line-c(2);
  color: #ff0e3c;
}
.slide-long__btn{
  font-family: nexa_boldregular, Arial, sans-serif;
font-size: 18px;
}




.slide-long__btn{
  font-family: nexa_boldregular, Arial, sans-serif;
font-size: 18px;
background: #d71036;
border: none;
box-shadow: none;
// height: 60px;
// margin-top: 20px;
padding: 13px 0;
border-radius: 24px;
display: block;

.line-c(3);
margin-top: 50px;
color: #fff;
}


.bbb{
  // display: none;
}